<div style="text-align: center">
   
# **ðŸ“Š Data Science Jobs Analysis ðŸ’¼** 
    
</div>

In [3]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import re
import numpy as np
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
import time

In [58]:
title=[]
company=[]
ratings=[]
reviews=[]
years=[]
location=[]
days=[]
salary=[]
skills=[]
como=[]
key_skills=[]
driver=webdriver.Chrome()
for j in range(1,111):
    url = f"https://www.naukri.com/data-science-jobs-{j}"
    driver.get(url)
    time.sleep(5)
    for i in driver.find_elements(By.XPATH , './/div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]'):
        t = i.find_element(By.XPATH , './/div[@class=" row1"]')
        if t.text is None:
            title.append(np.nan)
        else:
            title.append(t.text)
            
        c = i.find_element(By.XPATH , './/div[@class=" row2"]')
        if re.findall("(^\w+.*)\\n\d\.",c.text):
            company.append(''.join(re.findall("(^\w+.*)\\n\d\.",c.text)))
        else:
            company.append(np.nan)
        if re.findall("\d\.\d",c.text):
            ratings.append(re.findall("\d\.\d",c.text)[0])
        else:
            ratings.append(np.nan)
        if re.findall("\d+(?= Reviews)",c.text):
            reviews.append(re.findall("\d+(?= Reviews)",c.text)[0])
        else:
            reviews.append(np.nan)
        y = i.find_element(By.XPATH , './/div[@class="job-details "]')
        if re.findall("\d\-\d.",y.text):
            years.append(re.findall("\d\-\d.",y.text)[0])
        else:
            years.append(np.nan)
        l = i.find_element(By.XPATH , './/div[@class="job-details "]')
        if re.findall('\\n\w.*\\n(.*)',l.text):
            location.append(''.join(re.findall('\\n\w.*\\n(.*)',l.text)))
        else:
            location.append(np.nan)
        d = i.find_element(By.XPATH , './/span[@class="job-post-day "]')
        if re.findall("\d",y.text):
            days.append(re.findall("\d",y.text)[0])
        elif "Just Now" in y.text:
            years.append(1)
            continue
        else:
            days.append(np.nan)
        s = i.find_element(By.XPATH , './/div[@class="job-details "]')
        if re.findall("\\n(.*)\\n",s.text):
            salary.append(''.join(re.findall("\\n(.*)\\n",s.text)))
        else:
            salary.append(np.nan)
        try:
            sk = i.find_element(By.XPATH, './/ul[@class="tags-gt "]')
            skills.append(sk.text) 
        except NoSuchElementException:
            skills.append(np.nan)  
        try:
            sk1=i.find_element(By.XPATH, './/ul[@class="tags-gt "]')
            skill=re.findall(r"""(?i)(data analytics|machine learning|python|matplotlib|seaborn|pandas|excel|sql|numpy|
                  natural language processing|nlp|deep learning|dl|ml|visualization|java|C\+\+|
                  image processing|sas|bet|statistical modelling|data science|data analysis|data mining|
                  data analyst|statistical analysis|data engineer|statistics|big data|predictive modelling|
                  data security|time series analysis|data collection|data engineering|gen ai|cloud services|
                  aws|automation|azure|nosql|mysql|llm|tensorflow|pyspark|ai|artificial intelligence|
                  sap|data processing|power bi|powerbi|business analysis|data management|neural networks)""", sk.text)
            
            key_skills.append(','.join(skill))
        except NoSuchElementException:
            key_skills.append(np.nan)

In [59]:
d0=pd.DataFrame({"title":title,
               "company":company,
                "ratings":ratings,
                "reviews":reviews,
                "years":years,
                "location":location,
                "days":days,
                "salary":salary,
                "skills":skills,
                "key_skills":key_skills})

In [60]:
d0.to_csv('Nakuri.csv', index=False)

In [6]:
df=pd.read_csv('Nakuri.csv')

In [71]:
df.drop('skills',axis=1,inplace=True)

In [7]:
df

,title,company,ratings,reviews,years,location,days,salary,skills,key_skills
0,R&D- Data Science and Analytics Lead,Pepsi Foods,4.1,2308.0,2-5,Hyderabad,2.0,Not disclosed,SimulationAgile developmentAnalyticalCADMachin...,"Machine learning,big data"
1,Specialist- Data Science & Analytics,Carrier,3.8,419.0,2-5,Bengaluru,2.0,Not disclosed,Supply chaindata scienceNeural networksAnalyti...,"ai,data science,Neural networks,Artificial Int..."
2,Data Science Analytics Analyst,Accenture,4.0,49777.0,3-5,Bengaluru,3.0,Not disclosed,people analyticsdata miningmachine learningrad...,"data mining,machine learning,excel,python,data..."
3,Data Science & Analytics Engagement Lead,CANPACK,4.3,236.0,0-15,Pune,1.0,Not disclosed,data brickssql dwdata scienceenterprise report...,"sql,data science,data mining,power bi,machine ..."
4,"Assoc Manager, Data Science Analytics",NaN,NaN,NaN,3-6,Bengaluru,3.0,Not disclosed,excelrpythondata miningquantitativeanalysis to...,"excel,python,data mining"
...,...,...,...,...,...,...,...,...,...,...
2167,Business Analyst,Cure.Fit,3.8,728.0,1-4,Bengaluru,1.0,Not disclosed,pythontableaudata analyticsdata analysisbusine...,"python,data analytics,data analysis,business a..."
2168,"Manager, Exposure Data Services",Corelogic,4.6,21.0,7-10,Noida,7.0,Not disclosed,excelinsurancedata analyticsanalyticalvbaprope...,"excel,data analytics,sql"
2169,"Junior Developer, BI & Data Analytics",Magna International,4.0,566.0,2-5,Bengaluru,2.0,Not disclosed,sql azuredata modelingpower bidaxpower pivotms...,"sql,azure,power bi,sql,sql"
2170,Data Analyst (Internal Auditor),Interpublic Group (IPG),4.0,20.0,2-6,Mumbai,2.0,Not disclosed,pythonsql queriesdata analyticsdata analysissp...,"python,sql,data analytics,data analysis,sql"
2171,AI Intern,Skypoint Cloud,4.7,38.0,0-1,Bengaluru,0.0,Not disclosed,deep learningpythondata analysisdata sciencene...,"deep learning,python,data analysis,data scienc..."

In [8]:
df['salary'].unique()

array(['Not disclosed', '10-20 Lacs PA', '1-3 Lacs PA', '4.5-5.5 Lacs PA',
       '18-25 Lacs PA', '5-10 Lacs PA', '12-22 Lacs PA',
       '18-22.5 Lacs PA', '7-9 Lacs PA', '14-24 Lacs PA',
       '7.5-14 Lacs PA', '12-15 Lacs PA', '30-45 Lacs PA',
       '20-30 Lacs PA', '25-40 Lacs PA', '1-2.5 Cr PA', '7-17 Lacs PA',
       '7-10 Lacs PA', '8-18 Lacs PA', '15-30 Lacs PA', '35-60 Lacs PA',
       '2.5-3.75 Lacs PA', '8-15 Lacs PA', '2-4 Lacs PA', '9-18 Lacs PA',
       '11-21 Lacs PA', '15-22.5 Lacs PA', '4-5 Lacs PA', '20-35 Lacs PA',
       '4-4.5 Lacs PA', '15-25 Lacs PA', '4-8 Lacs PA', '1.5-3 Lacs PA',
       nan, '10-15 Lacs PA', '3.5-4.25 Lacs PA', '5-8 Lacs PA',
       '5-13 Lacs PA', '10-13 Lacs PA', '3-7 Lacs PA', '50-65 Lacs PA',
       '6-8 Lacs PA', '6-12 Lacs PA', '6-16 Lacs PA', '5-7 Lacs PA',
       '0-34 Lacs PA', '1-5 Lacs PA', '7.5-17.5 Lacs PA',
       '6.5-10 Lacs PA', '3-4.5 Lacs PA', '9-12 Lacs PA',
       '9.5-12 Lacs PA', '14-22.5 Lacs PA', '35-45 Lacs PA',
       '5-12 Lacs PA', '9.5 Cr and above PA', '15-20 Lacs PA',
       '10-12 Lacs PA', '15-27.5 Lacs PA', '13-20 Lacs PA',
       '14-20 Lacs PA', '10-18 Lacs PA', '6.5-8 Lacs PA',
       '25-32.5 Lacs PA', '27.5-42.5 Lacs PA', '50,000-3 Lacs PA',
       '5-6 Lacs PA', '5-15 Lacs PA', '9.5-13 Lacs PA', '7-12 Lacs PA',
       '0 PA', '6.5-12 Lacs PA', '20-25 Lacs PA', '3-4.75 Lacs PA',
       '3.25-7 Lacs PA', '15-18 Lacs PA', '6-10 Lacs PA',
       '22.5-32.5 Lacs PA', '2.5-4 Lacs PA', '80,000-1 Lacs PA',
       '5.5-7 Lacs PA', '18-27.5 Lacs PA', '11-20 Lacs PA',
       '12-16 Lacs PA', '2.75-5 Lacs PA', '6-11 Lacs PA', '2-5 Lacs PA',
       '5-9.5 Lacs PA', '37.5-60 Lacs PA', '3-4 Lacs PA', '8-12 Lacs PA',
       '1.75-2.5 Lacs PA', '60-70 Lacs PA', '25-30 Lacs PA',
       '30-40 Lacs PA', '20-27.5 Lacs PA', '2.5-3 Lacs PA', '2-3 Lacs PA',
       '3-6 Lacs PA', '22.5-25 Lacs PA', '35-40 Lacs PA'], dtype=object)

In [10]:
df['salary']=df['salary'].str.replace(' Lacs PA','')

In [11]:
df['salary'].unique()

array(['Not disclosed', '10-20', '1-3', '4.5-5.5', '18-25', '5-10',
       '12-22', '18-22.5', '7-9', '14-24', '7.5-14', '12-15', '30-45',
       '20-30', '25-40', '1-2.5 Cr PA', '7-17', '7-10', '8-18', '15-30',
       '35-60', '2.5-3.75', '8-15', '2-4', '9-18', '11-21', '15-22.5',
       '4-5', '20-35', '4-4.5', '15-25', '4-8', '1.5-3', nan, '10-15',
       '3.5-4.25', '5-8', '5-13', '10-13', '3-7', '50-65', '6-8', '6-12',
       '6-16', '5-7', '0-34', '1-5', '7.5-17.5', '6.5-10', '3-4.5',
       '9-12', '9.5-12', '14-22.5', '35-45', '5-12',
       '9.5 Cr and above PA', '15-20', '10-12', '15-27.5', '13-20',
       '14-20', '10-18', '6.5-8', '25-32.5', '27.5-42.5', '50,000-3',
       '5-6', '5-15', '9.5-13', '7-12', '0 PA', '6.5-12', '20-25',
       '3-4.75', '3.25-7', '15-18', '6-10', '22.5-32.5', '2.5-4',
       '80,000-1', '5.5-7', '18-27.5', '11-20', '12-16', '2.75-5', '6-11',
       '2-5', '5-9.5', '37.5-60', '3-4', '8-12', '1.75-2.5', '60-70',
       '25-30', '30-40', '20-27.5', '2.5-3', '2-3', '3-6', '22.5-25',
       '35-40'], dtype=object)