In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import re
import numpy as np
from selenium import webdriver
from selenium.webdriver.common.by import By

In [347]:
import time
title=[]
company=[]
ratings=[]
reviews=[]
years=[]
location=[]
days=[]
salary=[]
#jd=[]
skills=[]
como=[]
driver=webdriver.Chrome()
for j in range(1,22):
    url = f"https://www.naukri.com/data-science-jobs-{j}"
    driver.get(url)   
    time.sleep(3)
    for i in driver.find_elements(By.XPATH , './/div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]'):
        t = i.find_element(By.XPATH , './/div[@class=" row1"]')
        if t.text is None:
            title.append(np.nan)
        else:
            title.append(t.text)
        # c1 = i.find_element(By.XPATH , './/span[@class="rm-cursor-pointer comp-dtls-wrap"]')
        # if c1.text is None:
        #     company.append(np.nan)
        # else:
        #     company.append(c1.text)
        c = i.find_element(By.XPATH , './/div[@class=" row2"]')
        if re.findall("(^\w+\s?.*)\\n\d\.|(^\w+\s?.*)",c.text):
            company.append(re.findall("(^\w+\s?.*)\\n\d\.|(^\w+\s?.*)",c.text))
        else:
            company.append(np.nan)
            continue
        if re.findall("\d\.\d",c.text):
            ratings.append(re.findall("\d\.\d",c.text)[0])
        else:
            ratings.append(np.nan)
        if re.findall("\d+(?= Reviews)",c.text):
            reviews.append(re.findall("\d+(?= Reviews)",c.text)[0])
        else:
            reviews.append(np.nan)
        y = i.find_element(By.XPATH , './/div[@class="job-details "]')
        if re.findall("\d\-\d.",y.text):
            years.append(re.findall("\d\-\d.",y.text)[0])
        else:
            years.append(np.nan)
        l = i.find_element(By.XPATH , './/span[@class="ni-job-tuple-icon ni-job-tuple-icon-srp-location loc"]')
        if l.text is None:
            location.append(np.nan)
        else:
            location.append(l.text)
        d = i.find_element(By.XPATH , './/span[@class="job-post-day "]')
        if re.findall("\d",y.text):
            days.append(re.findall("\d",y.text)[0])
        elif "Just Now" in y.text:
            years.append(1)
            continue
        else:
            days.append(np.nan)
        s = i.find_element(By.XPATH , './/span[@class="sal-wrap ver-line"]')
        if re.findall("\d.\d-\d.\d",s.text):
            salary.append(re.findall("\d.\d-\d.\d",s.text)[0])
        else:
            salary.append(np.nan)
        # j = i.find_element(By.XPATH , './/span[@class="job-desc ni-job-tuple-icon ni-job-tuple-icon-srp-description"]')
        # if j.text is None:
        #     jd.append(np.nan)
        # else:
        #     jd.append(j.text)
        sk = i.find_element(By.XPATH , './/li[@class="dot-gt tag-li "]')
        if re.findall("\w.*",sk.text):
            skills.append(re.findall("\w.*",sk.text)[0])
        else:
            skills.append(np.nan)

In [348]:
do=pd.DataFrame({"title":title,
               "company":company,
                "ratings":ratings,
                "reviews":reviews,
                "years":years,
                "location":location,
                "days":days,
                "salary":salary,
                # "jd":jd,
                "skills":skills})

In [352]:
do.to_csv('Nakuri.csv', index=True)

In [353]:
df=pd.read_csv('Nakuri.csv')

In [354]:
df

,Unnamed: 0,title,company,ratings,reviews,years,location,days,salary,skills
0,0,CMG - Research & Insights - Data Science Speci...,"[('Deloitte', '')]",3.9,15912.0,3-8,Hyderabad,3,NaN,Data Science
1,1,Senior AI/Data Science Engineer - Data Scientist,"[('Medtronic', '')]",4.1,483.0,3-7,Hyderabad,3,NaN,advanced analytics
2,2,Data Science Actuarial Analyst,"[('', 'Actuators Educational Institute')]",NaN,NaN,2-5,Bengaluru,2,NaN,Computer science
3,3,Data Science Engineer,"[('EY', '')]",3.6,9271.0,6-11,"Hybrid - Hyderabad, Bengaluru, Delhi / NCR",6,NaN,Data Science
4,4,Engineer III - Data Science,"[('Verizon', '')]",4.1,1283.0,4-9,"Hyderabad, Chennai, Bengaluru",4,NaN,Data Science
...,...,...,...,...,...,...,...,...,...,...
400,400,Data Science & Analytics,"[('', 'V- Konnect Associates')]",NaN,NaN,5-18,Mumbai,1,NaN,advanced analytics
401,401,AI / ML Engineer / Data scientist,"[('Agilisium', '')]",3.3,66.0,3-5,Chennai,3,NaN,Artificial Intelligence
402,402,Principal Data Science Engineer,"[('Sprinklr', '')]",3.1,288.0,6-11,Bengaluru,6,NaN,Data management
403,403,Data Platform Engineer,"[('Accenture', '')]",4.0,49765.0,7-12,Hyderabad,7,NaN,data analytics
404,404,Data Platform Engineer,"[('Accenture', '')]",4.0,49765.0,5-10,Hyderabad,5,NaN,data analytics