In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import re
import numpy as np
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
import time

In [58]:
title=[]
company=[]
ratings=[]
reviews=[]
years=[]
location=[]
days=[]
salary=[]
skills=[]
como=[]
key_skills=[]
driver=webdriver.Chrome()
for j in range(1,111):
    url = f"https://www.naukri.com/data-science-jobs-{j}"
    driver.get(url)
    time.sleep(5)
    for i in driver.find_elements(By.XPATH , './/div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]'):
        t = i.find_element(By.XPATH , './/div[@class=" row1"]')
        if t.text is None:
            title.append(np.nan)
        else:
            title.append(t.text)
            
        c = i.find_element(By.XPATH , './/div[@class=" row2"]')
        if re.findall("(^\w+.*)\\n\d\.",c.text):
            company.append(''.join(re.findall("(^\w+.*)\\n\d\.",c.text)))
        else:
            company.append(np.nan)
        if re.findall("\d\.\d",c.text):
            ratings.append(re.findall("\d\.\d",c.text)[0])
        else:
            ratings.append(np.nan)
        if re.findall("\d+(?= Reviews)",c.text):
            reviews.append(re.findall("\d+(?= Reviews)",c.text)[0])
        else:
            reviews.append(np.nan)
        y = i.find_element(By.XPATH , './/div[@class="job-details "]')
        if re.findall("\d\-\d.",y.text):
            years.append(re.findall("\d\-\d.",y.text)[0])
        else:
            years.append(np.nan)
        l = i.find_element(By.XPATH , './/div[@class="job-details "]')
        if re.findall('\\n\w.*\\n(.*)',l.text):
            location.append(''.join(re.findall('\\n\w.*\\n(.*)',l.text)))
        else:
            location.append(np.nan)
        d = i.find_element(By.XPATH , './/span[@class="job-post-day "]')
        if re.findall("\d",y.text):
            days.append(re.findall("\d",y.text)[0])
        elif "Just Now" in y.text:
            years.append(1)
            continue
        else:
            days.append(np.nan)
        s = i.find_element(By.XPATH , './/div[@class="job-details "]')
        if re.findall("\\n(.*)\\n",s.text):
            salary.append(''.join(re.findall("\\n(.*)\\n",s.text)))
        else:
            salary.append(np.nan)
        try:
            sk = i.find_element(By.XPATH, './/ul[@class="tags-gt "]')
            skills.append(sk.text) 
        except NoSuchElementException:
            skills.append(np.nan)  
        try:
            sk1=i.find_element(By.XPATH, './/ul[@class="tags-gt "]')
            skill=re.findall(r"""(?i)(data analytics|machine learning|python|matplotlib|seaborn|pandas|excel|sql|numpy|
                  natural language processing|nlp|deep learning|dl|ml|visualization|java|C\+\+|
                  image processing|sas|bet|statistical modelling|data science|data analysis|data mining|
                  data analyst|statistical analysis|data engineer|statistics|big data|predictive modelling|
                  data security|time series analysis|data collection|data engineering|gen ai|cloud services|
                  aws|automation|azure|nosql|mysql|llm|tensorflow|pyspark|ai|artificial intelligence|
                  sap|data processing|power bi|powerbi|business analysis|data management|neural networks)""", sk.text)
            
            key_skills.append(','.join(skill))
        except NoSuchElementException:
            key_skills.append(np.nan)

In [59]:
d0=pd.DataFrame({"title":title,
               "company":company,
                "ratings":ratings,
                "reviews":reviews,
                "years":years,
                "location":location,
                "days":days,
                "salary":salary,
                "skills":skills,
                "key_skills":key_skills})

In [60]:
d0.to_csv('Nakuri.csv', index=False)

In [61]:
df=pd.read_csv('Nakuri.csv')

In [71]:
df.drop('skills',axis=1,inplace=True)

In [72]:
df

,title,company,ratings,reviews,years,location,days,salary,key_skills
0,R&D- Data Science and Analytics Lead,Pepsi Foods,4.1,2308.0,2-5,Hyderabad,2.0,Not disclosed,"Machine learning,big data"
1,Specialist- Data Science & Analytics,Carrier,3.8,419.0,2-5,Bengaluru,2.0,Not disclosed,"ai,data science,Neural networks,Artificial Int..."
2,Data Science Analytics Analyst,Accenture,4.0,49777.0,3-5,Bengaluru,3.0,Not disclosed,"data mining,machine learning,excel,python,data..."
3,Data Science & Analytics Engagement Lead,CANPACK,4.3,236.0,0-15,Pune,1.0,Not disclosed,"sql,data science,data mining,power bi,machine ..."
4,"Assoc Manager, Data Science Analytics",NaN,NaN,NaN,3-6,Bengaluru,3.0,Not disclosed,"excel,python,data mining"
...,...,...,...,...,...,...,...,...,...
2167,Business Analyst,Cure.Fit,3.8,728.0,1-4,Bengaluru,1.0,Not disclosed,"python,data analytics,data analysis,business a..."
2168,"Manager, Exposure Data Services",Corelogic,4.6,21.0,7-10,Noida,7.0,Not disclosed,"excel,data analytics,sql"
2169,"Junior Developer, BI & Data Analytics",Magna International,4.0,566.0,2-5,Bengaluru,2.0,Not disclosed,"sql,azure,power bi,sql,sql"
2170,Data Analyst (Internal Auditor),Interpublic Group (IPG),4.0,20.0,2-6,Mumbai,2.0,Not disclosed,"python,sql,data analytics,data analysis,sql"
2171,AI Intern,Skypoint Cloud,4.7,38.0,0-1,Bengaluru,0.0,Not disclosed,"deep learning,python,data analysis,data scienc..."