In [11]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import re
import numpy as np
from selenium import webdriver
from selenium.webdriver.common.by import By

In [92]:
from selenium.common.exceptions import NoSuchElementException
import time
title=[]
company=[]
ratings=[]
reviews=[]
years=[]
location=[]
days=[]
salary=[]
#jd=[]
skills=[]
como=[]
driver=webdriver.Chrome()
for j in range(28,30):
    url = f"https://www.naukri.com/data-science-jobs-{j}"
    driver.get(url)
    time.sleep(5)
    for i in driver.find_elements(By.XPATH , './/div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]'):
        t = i.find_element(By.XPATH , './/div[@class=" row1"]')
        if t.text is None:
            title.append(np.nan)
        else:
            title.append(t.text)
            
        c = i.find_element(By.XPATH , './/div[@class=" row2"]')
        if re.findall("(^\w+.*)\\n\d\.",c.text):
            company.append(''.join(re.findall("(^\w+.*)\\n\d\.",c.text)))
        else:
            company.append(np.nan)
        if re.findall("\d\.\d",c.text):
            ratings.append(re.findall("\d\.\d",c.text)[0])
        else:
            ratings.append(np.nan)
        if re.findall("\d+(?= Reviews)",c.text):
            reviews.append(re.findall("\d+(?= Reviews)",c.text)[0])
        else:
            reviews.append(np.nan)
        y = i.find_element(By.XPATH , './/div[@class="job-details "]')
        if re.findall("\d\-\d.",y.text):
            years.append(re.findall("\d\-\d.",y.text)[0])
        else:
            years.append(np.nan)
        l = i.find_element(By.XPATH , './/div[@class="job-details "]')
        if re.findall('\\n\w.*\\n(.*)',l.text):
            location.append(''.join(re.findall('\\n\w.*\\n(.*)',l.text)))
        else:
            location.append(np.nan)
        d = i.find_element(By.XPATH , './/span[@class="job-post-day "]')
        if re.findall("\d",y.text):
            days.append(re.findall("\d",y.text)[0])
        elif "Just Now" in y.text:
            years.append(1)
            continue
        else:
            days.append(np.nan)
        s = i.find_element(By.XPATH , './/div[@class="job-details "]')
        if re.findall("\\n(.*)\\n",s.text):
            salary.append(''.join(re.findall("\\n(.*)\\n",s.text)))
        else:
            salary.append(np.nan)
#         if 
#         sk =i.find_element(By.XPATH , './/ul[@class="tags-gt "]')
#         if sk is None:
#             skills.append(np.nan)
#         else:
#             skills.append(sk.text)
        try:
            sk = i.find_element(By.XPATH, './/ul[@class="tags-gt "]')
            skills.append(sk.text)  
        except NoSuchElementException:
            skills.append(np.nan)

In [93]:
d0=pd.DataFrame({"title":title,
               "company":company,
                "ratings":ratings,
                "reviews":reviews,
                "years":years,
                "location":location,
                "days":days,
                "salary":salary,
                "skills":skills})

In [94]:
d0.to_csv('Nakuri.csv', index=False)

In [95]:
df=pd.read_csv('Nakuri.csv')

In [96]:
df

,title,company,ratings,reviews,years,location,days,salary,skills
0,Senior Data Scientist,Techneplus Software India,3.6,27.0,3-7,Noida,3,Not disclosed,Statistical modelingSASdata scienceProcess imp...
1,Developer Data Analytics using Python,Trigyn Technologies,3.6,182.0,3-8,Remote,3,Not disclosed,PythonRdata visualizationstatistical analysisS...
2,Big Data Engineer Senior Consultant,Allstate Solutions (ASPL),3.9,1472.0,3-7,Bengaluru,3,Not disclosed,Big DataData Sciencedata analyticspredictive m...
3,Data Scientist,Agilite Global Solutions,4.0,7.0,5-10,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",5,Not disclosed,Data analysisUsageGITdata scienceData modeling...
4,Forecasting-Data Scientist,NaN,NaN,NaN,4-9,Hyderabad,4,Not disclosed,Supply chainCloud computingdata scienceTime se...
5,Data & Applied Scientist II,Microsoft,4.1,1535.0,5-8,Hyderabad,5,Not disclosed,Data ScienceProgram ManagementData Engineering...
6,Hiring Data Scientist - Amnet Digital,Amnet Digital,3.8,32.0,4-7,Hybrid - Hyderabad,4,Not disclosed,Data ScienceNatural Language ProcessingMachine...
7,Data Scientist,NaN,NaN,NaN,5-9,"Mumbai, Pune, Bengaluru",5,Not disclosed,Data ScienceAzure MLGen AIRcloud servicesML mo...
8,Senior Data Scientist ( Healthcare Apps ),Scribe Emr,4.1,98.0,4-6,Bengaluru(Hebbal),4,Not disclosed,Data ScienceJavaC++NLPImage Processing.NETJ2EE...
9,Data Scientist,V2soft,4.1,91.0,7-10,Remote,7,14-22.5 Lacs PA,Deep Learning FrameworksData ScientistInterpre...
10,Data Scientist - Machine Learning / APICS,Carbynetech India Pvt Ltd,4.3,27.0,3-8,Hyderabad,3,Not disclosed,Machine LearningData ScienceRAPICSNLPArtificia...
11,Advanced Data Analytics - Model Monitoring & G...,Capco,3.6,439.0,3-7,Bengaluru,3,Not disclosed,Data analysisManager Quality AssuranceSASData ...
12,Advanced Data Analytics - Reg Compliance & Doc...,Capco,3.6,439.0,3-7,Bengaluru,3,Not disclosed,Data analysisSASRisk analyticsBfsirisk modelin...
13,SR DATA Engineer/Analyst (Chennai/ Bangalore),NaN,NaN,NaN,5-10,"Chennai, Bengaluru",5,15-30 Lacs PA,PYTHONSnowflakeAws GlueAIRFLOWETLS3Data scient...
14,Chapter Leader Data Science,Renault,4.3,470.0,7-8,Chennai,7,Not disclosed,Computer visiondeep learningGCPMachine learnin...
15,Data Science,Tech Mahindra,3.6,29421.0,6-10,Chennai,6,Not disclosed,C++DTSMinitabSASMachine learningDigital market...
16,Data Platform Engineer,Accenture,4.0,49777.0,7-12,Bengaluru,7,Not disclosed,data analyticsmachine learningmachine learning...
17,Data Platform Engineer,Accenture,4.0,49777.0,2-7,Bengaluru,2,Not disclosed,data analyticsmachine learningmachine learning...
18,Data Platform Engineer,Accenture,4.0,49777.0,3-8,Bengaluru,3,Not disclosed,sas analyticsdata visualizationmachine learnin...
19,Data Platform Engineer,Accenture,4.0,49777.0,3-8,Bengaluru,3,Not disclosed,sas analyticsdata visualizationmachine learnin...
20,Data Platform Engineer,Accenture,4.0,49777.0,3-8,Bengaluru,3,Not disclosed,sas analyticsdata visualizationmachine learnin...
21,"Data Analyst with SPARQL, Python",Coforge,3.4,4182.0,6-10,Greater Noida,6,Not disclosed,schemamodelinganalyticaldata pipelinesqldataba...
22,Data Analyst,NaN,NaN,NaN,1-3,New Delhi,1,Not disclosed,betexcelbi toolstableaudata analysissportsdata...
23,Data Analyst,Fleetx,3.9,175.0,1-2,Gurugram,1,Not disclosed,database maintenancepythondata analyticsdata a...
24,Data Analyst - Machine Learning - Service Base...,NaN,NaN,NaN,5-10,Bengaluru,5,15-25 Lacs PA,Trade PromotionPricing AnalyticsMachine Learni...
25,Data Analyst,Optum,4.0,3634.0,3-8,Hyderabad,3,Not disclosed,Pythonazure databricksdata analysiscassandra.n...
26,Data Analyst,NaN,NaN,NaN,3-8,Indore,3,Not disclosed,Analytical skillsExcelSASData collectionPackag...
27,Data Exposure Analyst,Corelogic,4.6,21.0,2-5,Noida,2,Not disclosed,insurancedata analyticsdata analysismodelingvb...
28,Data Analysis and Data Visualization Applicati...,Alegra Labs,4.4,3.0,3-6,Guwahati,3,Not disclosed,Data analysisNoSQLdata scienceSVGMachine learn...
29,Senior Data Scientist - NLP,Digit Insurance,3.9,762.0,5-8,"Hyderabad, Pune, Bengaluru",5,Not disclosed,NLPNatural Language ProcessingLLMData ScienceA...
30,Senior Data Scientist Computer Vision,NaN,NaN,NaN,3-7,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",3,Not disclosed,deep learning frameworkstensorflowpythongcpcom...
31,Sr Data Scientist,NaN,NaN,NaN,0-20,"Hyderabad, Bengaluru",1,0-34 Lacs PA,Aws CloudPythonPysparkMachine LearningPython D...
32,Senior Data Scientist,NaN,NaN,NaN,5-8,"Hyderabad, Chennai, Bengaluru",5,25-40 Lacs PA,Data ScienceArtificial IntelligenceNatural Lan...
33,Advanced Data Analytics - Risk Model Developer,Capco,3.6,439.0,3-8,Bengaluru,3,Not disclosed,Data analysisAutomationSASRisk analyticsBfsiAn...
34,Senior Data Scientist,Kaar Technologies,3.2,216.0,4-9,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",4,Not disclosed,pythondata analysismodelingpredictive analytic...
35,Sr Data Scientist,Response Informatics,3.7,22.0,3-7,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",3,Not disclosed,pythonnatural language processingneural networ...
36,Managed Services -DPS- Data Analytics- Senior ...,Pricewaterhouse Coopers Private Limited,3.5,7922.0,5-9,"Hyderabad, Bengaluru",5,Not disclosed,SAPData conversionBusiness transformationData ...
37,Senior Data Analyst,TBO,3.8,24.0,3-5,Gurugram,3,Not disclosed,pythondata analysisdata analyticsbipower bibus...
38,Senior Data Analyst,NaN,NaN,NaN,4-7,Bengaluru,4,Not disclosed,Product managementData analysisInterpersonal s...
39,Data Analyst / Sr. Data Analyst,NaN,NaN,NaN,0-8,Remote,0,Not disclosed,Data analysisAnalyticalConsultingData AnalystD...

In [98]:
df.skills.unique()

array(['Statistical modelingSASdata scienceProcess improvementMachine learningdata visualizationData miningForecasting',
       'PythonRdata visualizationstatistical analysisSQLData analyticsAnalyticsStatistics',
       'Big DataData Sciencedata analyticspredictive modelingETLPredictiveSeniorModeling',
       'Data analysisUsageGITdata scienceData modelingdata securityMachine learningTroubleshooting',
       'Supply chainCloud computingdata scienceTime series analysisDemand forecastingConsultingMachine learningData collection',
       'Data ScienceProgram ManagementData EngineeringSW engineeringproduct engineeringApplicationScienceManagement',
       'Data ScienceNatural Language ProcessingMachine LearningDeep LearningScienceDigitalProcessHiring',
       'Data ScienceAzure MLGen AIRcloud servicesML modelsmachine learningPython',
       'Data ScienceJavaC++NLPImage Processing.NETJ2EEMachine Learning',
       'Deep Learning FrameworksData ScientistInterpretentionMachine LearningData SciencePyTorchPower BIReal time data processing',
       'Machine LearningData ScienceRAPICSNLPArtificial IntelligenceData ManagementPython',
       'Data analysisManager Quality AssuranceSASData managementRisk analyticsBfsiRisk managementMonitoring',
       'Data analysisSASRisk analyticsBfsirisk modelingdata integrityRisk managementFinancial services',
       'PYTHONSnowflakeAws GlueAIRFLOWETLS3Data scientistData Engineering',
       'Computer visiondeep learningGCPMachine learningResourcingAgileData structuresBudgeting',
       'C++DTSMinitabSASMachine learningDigital marketingMATLABSQL',
       'data analyticsmachine learningmachine learning algorithmsstatisticsdata mungingpythondata analysisnatural language processing',
       'sas analyticsdata visualizationmachine learning algorithmsstatisticsdata mungingpythondata analysisdata analytics',
       'schemamodelinganalyticaldata pipelinesqldatabase designapachedata science',
       'betexcelbi toolstableaudata analysissportsdata sciencestatistics',
       'database maintenancepythondata analyticsdata analysisdata miningpredictive analyticsbusiness analysispower bi',
       'Trade PromotionPricing AnalyticsMachine LearningPythonData AnalyticsData analysisMachinePricing',
       'Pythonazure databricksdata analysiscassandra.netpysparknosqlAnalysis',
       'Analytical skillsExcelSASData collectionPackagingData analyticsData AnalystSPSS',
       'insurancedata analyticsdata analysismodelingvbadata processingpropertysql',
       'Data analysisNoSQLdata scienceSVGMachine learningData analyticsdata visualizationApache',
       'NLPNatural Language ProcessingLLMData ScienceAIProcessArtificial IntelligenceSenior',
       'deep learning frameworkstensorflowpythongcpcomputer visionpytorchprogrammingresearch',
       'Aws CloudPythonPysparkMachine LearningPython DevelopmentKerasData Sciencedata scientist',
       'Data ScienceArtificial IntelligenceNatural Language ProcessingModel BuildingMachine LearningPredictive ModelingDecision TreeMl Algorithms',
       'Data analysisAutomationSASRisk analyticsBfsiAnalyticalRisk managementFinancial services',
       'pythondata analysismodelingpredictive analyticspredictiveanomaly detectiondata integritymachine learning',
       'pythonnatural language processingneural networkspredictive analyticsmachine learningartificial intelligencetext analyticsdeep learning',
       'SAPData conversionBusiness transformationData managementIntellectual propertyData processingmicrosoftMonitoring',
       'pythondata analysisdata analyticsbipower bibusiness analysisbusiness intelligenceperformance measurement',
       'Product managementData analysisInterpersonal skillsAnalyticalSenior Data AnalystAgiledata governanceE-commerce',
       'Data analysisAnalyticalConsultingData AnalystData analyticsbig dataInformation technologyAnalytics'],
      dtype=object)